@model IEnumerable<Repository.Artisan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArtisanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtisanDocNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtisanDocType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtisanAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtisanTel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArtisanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtisanDocNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtisanDocType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtisanAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtisanTel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtisanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtisanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtisanID })
        </td>
    </tr>
}

</table>
